#home
{
    background-color: black;
    overflow: hidden;
    
}

#about
{
    background-color: black;
    overflow: hidden;
  
}

#contact
{
    background-color: black;
    color: white;
    overflow: hidden;
}

.info
{
    position: absolute;
	width: 100%;
	height: 100%;
    display: block;
	justify-content: center;
    align-items: center;
    float: none;
    overflow: hidden;
    
}

.info2
{
    align-items: center;
    position: relative;
    top: 40%;
    left: 20%;
	color: 	white;
}

.divgam
{
    display: none;
}
